body {
    background-color: #ECECEA;
}

/* Color ============================================================== */
.color-blue {
    color: #0076ff
}

.color-cyan {
    color: #00e1d1
}

.color-warning {
    color: #ffae00
}

.color-danger {
    color: #FF6A99
}

.color-gray {
    color: #334053;
}

.color-dark {
    color: #001028
}

/* font ================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #434B56;
}

.font-0 {
    font-size: 20px;
    font-weight: 600;
}

.font-1 {
    font-size: 18px;
    font-weight: 600;
}

.font-2 {
    font-size: 16px;
    font-weight: 500;
}

.font-3 {
    font-size: 14px;
    font-weight: 400;
}

hr {
    border-color: #ECECEA;
}

.section-pages {
    min-height: 100vh;
    display: flex;
}

/* SIDE-BAR ========================================================================== */

.side-bar {
    background-color: #E0E0D8;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

.side-bar.menu.active {
    background-color: red;
}

.side-bar .navbar-brand {
    display: block;
    padding: 20px 30px 15px !important;
    margin-right: 1rem;
    font-size: 25px;
    font-weight: 700;
    color: #434B56 !important;
    transition: ease-out .3s;
}

.side-bar .expand-btn {
    font-size: 12px;
    height: 40px;
    width: 20px;
    margin-top: 10px;
    padding-bottom: 7px;
    font-weight: 800;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border: none !important;
    transition: ease-in-out .3s;
}

.side-bar .expand-btn:hover,
.side-bar .expand-btn:focus {
    border: none !important;
    width: 35px;
}

.side-bar ul,
.side-bar ul li,
.side-bar ul li a:hover,
.side-bar ul li a {
    list-style: none;
    padding: 15px 10px;
    text-decoration: none !important;
    color: #434B56 !important;
    font-size: 14px;
}

.side-bar ul li {
    cursor: pointer;
    transition: ease-in .1s;
}

.side-bar ul li a {
    align-items: center;
    z-index: 88;
}

.side-bar ul li a i {
    margin-right: 10px;
    width: 25px;
    color: #434B56 !important;
}

.side-bar ul li:hover {
    /* animation: swing ease-out 1s 0.1 alternate-reverse; */
    font-weight: 900;
}

/* CONTENT ============================================================= */

.content {
    margin-left: 16.666667%;
    padding: 25px 10px;
}

/* CARD  ================================================================ */
.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #e0e0db;
    border: none;
    margin: 15px 0;
}

/* input ============================================================== */
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* button ============================================================ */
.btn-light {
    background-color: #ECECEA !important;
}

/* table ============================================================= */
table.table-binding {
    font-size: 13.6px;
}

/* media 600 ========================================================= */
@media screen and (max-width: 600px) {
    .content {
        margin-left: 0;
        padding: 20px 30px 15px;
    }
}


/* animation ========================================================== */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}